.mision-vision{

  &__content{
    text-align: center;
    margin-left: 190px;
  }
  &__title{
    color: $mainOrange;
    font-family: 'Yantramanav', sans-serif;
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.35rem;
    font-weight: 400;
  }

  &__mision{
    float: left;
    max-width: 400px;
    margin: 0 auto;
    padding: 0px 20px;
    background-color: $mainWhite;
  }
  &__vision{
    max-width: 400px;
    margin: 0 auto;
    float: left;
    padding: 0px 20px;
    background-color: $mainWhite;
    margin-left: 40px;
  }


}
