nav.navlinks{
  float: right;
}
nav.navlinks ul {
  display: inline-block;
}
  nav.navlinks li{
    list-style-type: none;
  }
    nav.navlinks a{
      text-decoration: none;
      color: $mainWhite;
      font-family: 'Yantramanav', sans-serif;
      font-weight: bold;
      font-size: 1.1rem;
    }
